.content {
  margin: 64px 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.photo {
  width: 80%;
  height: 80%;
  margin: 32px auto 32px auto;
}

.button {
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.body {
  display: flex;
  justify-content: center;
  margin: auto;
}
