@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 14px 24px 12px 24px;

  background-color: transparent;
  border: 2px solid #0a0a0a;
  border-radius: 60px;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.primary {
  @include button;
}

.like {
  background-color: white;
  cursor: pointer;
  border: none;
}
